services:
  zeppelin:
    image: custom-zepellin:0.12.0
    container_name: zeppelin_server
    restart: always
    ports:
      - "8080:8080"  # Zeppelin Web UI
      - "4040:4040"  # Spark Context UI (Monitoring)
    environment:
      - ZEPPELIN_ADDR=0.0.0.0
      # Increasing memory for Spark driver (optional, adjust as needed)
      - ZEPPELIN_MEM=-Xms1024m -Xmx2048m
    volumes:
      # Persist your notebooks so they aren't lost when container stops
      - ./notebooks:/opt/zeppelin/notebook
      # Persist logs for debugging
      - ./logs:/opt/zeppelin/logs
      - ../trino/hive-metastore/hive-site.xml:/opt/spark/conf/hive-site.xml:ro
    networks:
      - zeppelin-network
      - shared-network

networks:
  shared-network:
    external: true
  zeppelin-network:
    driver: bridge