services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env
    volumes:
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
      - postgres_data:/var/lib/postgresql/data 
      
    ports:
      - "5432:5432"
    networks:
      - db_network
      - shared-network

volumes:
  postgres_data:

networks:
  db_network:
    driver: bridge
    name: db_network
  shared-network:
    external: true