version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - ../.env
    environment:
      POSTGRES_USER: primary_user
      POSTGRES_PASSWORD: primary_password
      POSTGRES_DB: primary_db
    volumes:
      - ./init-multiple-dbs.sql:/docker-entrypoint-initdb.d/init-multiple-dbs.sql
      - postgres_data:/var/lib/postgresql/data 
      
    ports:
      - "5432:5432"
    networks:
      - db_network
      - shared-network

volumes:
  postgres_data:

networks:
  db_network:
    driver: bridge
    name: db_network
  shared-network:
    external: true